<!-- views/partials/html-navbar.ejs -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">我的網站</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/link-1">link-1</a></li>
        <li class="nav-item"><a class="nav-link" href="/link-2">link-2</a></li>
      </ul>
    </div>
  </div>
</nav>
